html,
body {
  margin: 0;
  padding: 0;
}

button {
  color: #868e96;
  width: 90px;
  height: 70px;
  font-size: 40px;
  font-weight: bold;
  background-color: #fff4e6;
  border: none;
  display: inline-block;
  border-radius: 50px;
  box-shadow: 3px 3px 0px 0px #ced4da;
  margin-right: 10px;
}

button:hover {
  background-color: #ffe8cc;
}

button:active {
  box-shadow: 1px 1px 0 rgba(61, 59, 59, 0.5);
  top: 3px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  text-align: center;
  margin-top: 20px;
  background-color: #a5d8ff;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 7px 7px 0px 0px #e9ecef;
}

#calculator_display {
  background-color: #f8f0fc;
  color: #495057;
  height: 70px;
  width: 430px;
  margin: 50px 30px 30px;
  border-radius: 10px;
  text-align: right;
  font-size: 45px;
  font-weight: bold;
  padding-top: 20px;
  padding-right: 10px;
  overflow: hidden;
  position: relative;
}

#calculator_display > .before_result {
  font-size: 15px;
  float: inline-end;
  padding-right: 10px;
}

.clear_end {
  margin-bottom: 10px;
}

.clear_end > button {
  width: 190px;
  height: 70px;
}

.btn_row {
  margin-bottom: 10px;
}

.btn_row_end .num {
  width: 200px;
}

#zero {
  width: 200px;
}
