html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffec99;
}

.container {
  display: flex;
}

.mobile {
  display: none;
}

.counter {
  margin: auto;
  margin-top: 50px;
  width: 650px;
  height: 80px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #fcc419;
}

.counter > span {
  margin-right: 10px;
  font-size: 58px;
}

.card_board {
  margin-top: 65px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 30px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  cursor: pointer;
}

.card_back {
  font-size: 100px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  z-index: 1;
  transition: all 1s;
}

.card_back.turn {
  transform: rotateY(180deg);
}

.card_front {
  position: absolute;
  z-index: 2;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_back,
.card_front > span {
  font-size: 130px;
}
.card_front.turn {
  transform: rotateY(0deg);
}

@media screen and (max-width: 768px) {
  html,
  body {
    background-color: white;
  }
  .card {
    display: none;
  }
  .container {
    display: none;
  }
  .mobile {
    display: block;
  }
}
