html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffec99;
}

.container {
  display: flex;
}

.counter {
  margin: auto;
  margin-top: 10px;
  width: 350px;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #fcc419;
}

.counter > span {
  margin-right: 10px;
}

.card_board {
  margin-top: 50px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 0.5px;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  cursor: pointer;
}

.card_back {
  font-size: 70px;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.card_back.turn {
  transform: rotateY(180deg);
}

.card_front {
  position: absolute;
  left: 0px;
  top: 0px;
  transform-style: preserve-3d;
  transform: rotateY(-180deg);
  transition: all 0.5s ease-in-out;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_front.turn {
  transform: rotateY(0deg);
}
